*{
  margin: none;
}

body {
  color: #200;
  font-size: 16px;
  background: #ddd;
}

#wrapper {
  background: #fafafa;
  width: 72rem;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin: auto;
}
